<template>


  <div class="container">
    <hr>
    <h1>ConvertKit - Add to sequence</h1>
    <schema-form :schema="schema" v-model="formData" @submit="handleSubmit()">

      <template slot="name" slot-scope="{ item: { key, value, schema, update } }">

        <b-field :label="schema.title">
          <b-input type="text" :value="value ? value : schema.default" @change="update($event, key)"
                   @input="update($event, key)">
          </b-input>
        </b-field>
      </template>

    </schema-form>
  </div>


</template>

<script>

/**
 * https://crickford.github.io/vue-json-schema-form/guide/getting-started.html#usage
 */
import {SchemaForm} from 'vue-json-schema-form'


export default {
  name: 'AddToSequenceConvertKit',
  components: {
    SchemaForm
  },
  data: function () {

    return {
      schema: {},
      formData: {},
      userId: "MY_USER_ID",
      integrationIdentifier: 'cab7208f-7044-11eb-8fd2-080027aac912',
      actionName: 'add_to_sequence'
    };
  },
  mounted() {
    this.getFormSchema();
  },
  methods: {
    getFormSchema: function () {

      let $this = this;

      fetch(process.env.VUE_APP_API_BASE_URL + '/api/integration/' + this.integrationIdentifier + '/actions/schema', {
        'method': 'GET',
        headers: {
          'X-Api-Key': process.env.VUE_APP_API_KEY,
          'Content-Type': 'application/json',
          'Accept': 'application/json',
        },
      })
          .then(response => response.json())
          .then(function (data) {
            console.log(data);

            $this.schema = data[0][$this.actionName].form_schema;


          });
    }
    ,
    handleSubmit: function () {

      fetch(process.env.VUE_APP_API_BASE_URL + '/api/integration/'+ this.integrationIdentifier + '/actions/' + this.actionName + '/survey/123', {
            'method': 'POST',
            headers: {
              'X-Api-Key': process.env.VUE_APP_API_KEY,
              'Content-Type': 'application/json',
              'Accept': 'application/json',
            },
            body: JSON.stringify(this.formData),
          }
      )
          .then(response => response.json())
          .then(function (data) {
            console.log(data);
          });
    }
  }
}
</script>

