<template>
  <div class="container">
    <hr>
    <h1>ConvertKit - Create integration</h1>
    <schema-form :schema="schema" v-model="formData" @submit="handleSubmit()">

      <template slot="name" slot-scope="{ item: { key, value, schema, update } }">

        <b-field :label="schema.title">
          <b-input type="text" :value="value ? value : schema.default" @change="update($event, key)"
                   @input="update($event, key)">
          </b-input>
        </b-field>
      </template>

    </schema-form>
  </div>

</template>

<script>

/**
 * https://crickford.github.io/vue-json-schema-form/guide/getting-started.html#usage
 */
import {SchemaForm} from 'vue-json-schema-form'

export default {
  name: 'ConvertKitCreateIntegration',
  components: {
    SchemaForm

  },
  data: function () {

    return {
      schema: {},
      formData: {},
      userId: "MY_USER_ID",
      integrationIdentifier: 'convertkit',
    };
  },
  mounted() {
    this.getFormSchema();
  },
  methods: {
    getFormSchema: function () {

      let $this = this;

      fetch(process.env.VUE_APP_API_BASE_URL + '/api/services', {
        'method': 'GET',
        headers: {
          'X-Api-Key': process.env.VUE_APP_API_KEY,
          'Content-Type': 'application/json',
          'Accept': 'application/json',
        },
      })
          .then(response => response.json())
          .then(function (data) {
            console.log(data);

            for(let i=0;i<data.services.length;i++){

              if(data.services[i].identifier === $this.integrationIdentifier){
                $this.schema = data.services[i].form_schema;
              }
            }



          });
    }
    ,
    handleSubmit: function () {

          fetch(process.env.VUE_APP_API_BASE_URL + '/api/integration/owner/' + this.userId + '/service/' + this.integrationIdentifier, {
                'method': 'POST',
                body: JSON.stringify(this.formData),
                headers: {
                  'X-Api-Key': process.env.VUE_APP_API_KEY,
                  'Content-Type': 'application/json',
                  'Accept': 'application/json',
                },
              }
          )
              .then(response => response.json())
              .then(function (data) {
                console.log(data);


              });
    }
  }
}
</script>

