<template>

<div>

  <convert-kit-create-integration></convert-kit-create-integration>

  <hr>

  <add-to-sequence-convert-kit></add-to-sequence-convert-kit>

  <hr>

  <add-to-form-convert-kit></add-to-form-convert-kit>

  <hr>

  <update-subscriber-convert-kit></update-subscriber-convert-kit>

</div>

</template>

<script>

import ConvertKitCreateIntegration from "@/components/ConvertKit/createIntegration";
import AddToSequenceConvertKit from "@/components/ConvertKit/AddToSequence";
import AddToFormConvertKit from "@/components/ConvertKit/AddToForm";
import UpdateSubscriberConvertKit from "@/components/ConvertKit/UpdateSubscriber";
export default {
  name: 'ConvertKitIndex',
  components: {
    UpdateSubscriberConvertKit,
    AddToFormConvertKit,
    AddToSequenceConvertKit,
    ConvertKitCreateIntegration


  },
  data: function () {

    return {
      schema: {},
      formData: {},
      userId: "MY_USER_ID",
      integrationIdentifier: 'convertkit',
    };
  },
  mounted() {

  },
  methods: {

  }
}
</script>

