<template>
  <div>

    <post-lead-webhook></post-lead-webhook>

    <create-contact-active-campaign></create-contact-active-campaign>

    <add-contact-to-list-active-campaign></add-contact-to-list-active-campaign>

    <add-contact-to-automation-active-campaign></add-contact-to-automation-active-campaign>

    <add-contact-to-tag-active-campaign></add-contact-to-tag-active-campaign>

  </div>
</template>

<script>

import CreateContactActiveCampaign from "@/components/CreateContactActiveCampaign";
import PostLeadWebhook from "@/components/PostLeadWebhook";
import AddContactToListActiveCampaign from "@/components/AddContactToListActiveCampaign";
import AddContactToAutomationActiveCampaign from "@/components/AddContactToAutomationActiveCampaign";
import AddContactToTagActiveCampaign from "@/components/AddContactToTagActiveCampaign";

export default {
  name: 'DemoActions',
  components: {
    AddContactToTagActiveCampaign,
    AddContactToAutomationActiveCampaign,
    AddContactToListActiveCampaign,
    PostLeadWebhook,
    CreateContactActiveCampaign
  },
  data: function () {

    return {

    };
  },

}
</script>
