<template>
  <div>

    <button v-if="!callbackCode" @click="login">Login to mailchimp</button>
    <p v-else>Authorizing...</p>

  </div>
</template>

<script>


export default {
  name: 'Mailchimp',
  components: {},
  data: function () {

    return {
      userId: "MY_USER_ID",
      integrationIdentifier: 'mailchimp',
    };
  },
  mounted() {
    if (this.$route.query.code) {
      // this.authorize(this.$route.query.code);
      this.createIntegration(this.$route.query.code);
    }
  },
  computed: {
    callbackCode: function () {
      return this.$route.query.code;
    }
  },
  methods: {
    login: function () {


      fetch(process.env.VUE_APP_API_BASE_URL + '/api/services', {
        'method': 'GET',
        headers: {
          'X-Api-Key': process.env.VUE_APP_API_KEY,
          'Content-Type': 'application/json',
          'Accept': 'application/json',
        },
      })
          .then(response => response.json())
          .then(function (data) {
            console.log(data);

            for (let i = 0; i < data.services.length; i++) {
              let service = data.services[i];
              if (service.identifier === 'mailchimp') {

                window.location = service.oauth_schema.oauth_url;
              }
            }

          });
    },
    authorize: function (code) {
      let $this = this;
      fetch(process.env.VUE_APP_API_BASE_URL + '/api/oauth/mailchimp/authorize' + '?code=' + code, {
            'method': 'POST',
            headers: {
              'X-Api-Key': process.env.VUE_APP_API_KEY,
              'Content-Type': 'application/json',
              'Accept': 'application/json',
            },
          }
      )
          .then(response => response.json())
          .then(function (data) {
            console.log(data);


            $this.createIntegration(data.accessToken, data.account.dc);


          });
    },
    createIntegration: function (code) {
      fetch(process.env.VUE_APP_API_BASE_URL + '/api/integration/owner/' + this.userId + '/service/' + this.integrationIdentifier, {
            'method': 'POST',
            body: JSON.stringify({
              name: 'My Mailchimp integration',
              code: code,
            }),
            headers: {
              'X-Api-Key': process.env.VUE_APP_API_KEY,
              'Content-Type': 'application/json',
              'Accept': 'application/json',
            },
          }
      )
          .then(response => response.json())
          .then(function (data) {
            console.log(data);


          });
    }
  }

}
</script>
