<template>


    <div class="container">

      <h1>Web hook - POST LEAD</h1>

      <schema-form :schema="schema" v-model="formData" @submit="handleSubmit()">

        <template slot="name" slot-scope="{ item: { key, value, schema, update } }">

          <b-field :label="schema.title">
            <b-input type="text" :value="value ? value : schema.default" @change="update($event, key)"
                     @input="update($event, key)">
            </b-input>
          </b-field>
        </template>

      </schema-form>
    </div>


</template>

<script>

/**
 * https://crickford.github.io/vue-json-schema-form/guide/getting-started.html#usage
 */
import {SchemaForm} from 'vue-json-schema-form'


export default {
  name: 'PostLeadWebhook',
  components: {
    SchemaForm
  },
  data: function () {

    return {
      schema: {},
      formData: {},
      userId: "MY_USER_ID",
      integrationIdentifier: 'webhook',
      actionName: 'post_lead'
    };
  },
  mounted() {
    this.getFormSchema();
  },
  methods: {
    getFormSchema: function () {

      let $this = this;

      fetch(process.env.VUE_APP_API_BASE_URL + '/api/services/'+this.integrationIdentifier+'/actions/' + this.userId, {
        'method': 'GET',
        headers: {
          'X-Api-Key': process.env.VUE_APP_API_KEY,
          'Content-Type': 'application/json',
          'Accept': 'application/json',
        },
      })
          .then(response => response.json())
          .then(function (data) {
            console.log(data);

            $this.schema = data.integrations[0].available_actions[$this.actionName].form_schema;


          });
    }
    ,
    handleSubmit: function () {

      fetch(process.env.VUE_APP_API_BASE_URL + '/api/integration/' + this.userId + '/' + this.integrationIdentifier + '/actions/' + this.actionName, {
            'method': 'POST',
            headers: {
              'X-Api-Key': process.env.VUE_APP_API_KEY,
              'Content-Type': 'application/json',
              'Accept': 'application/json',
            },
            body: JSON.stringify(this.formData),
          }
      )
          .then(response => response.json())
          .then(function (data) {
            console.log(data);
          });
    }
  }
}
</script>

