<template>
  <div id="app">

      <router-link :to="{name:'demo-actions'}">Demo actions</router-link>&nbsp;
      <router-link :to="{name: 'mailchimp'}">Mailchimp</router-link>&nbsp;
      <router-link :to="{name:'aweber'}">AWeber</router-link>&nbsp;&nbsp;
      <router-link :to="{name:'convertkit'}">ConvertKit</router-link>&nbsp;

    <router-view></router-view>

  </div>
</template>

<script>

export default {
  name: 'App',

  data: function () {

    return {};
  },

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
