<template>

<div>

  <a-weber-login></a-weber-login>

  <hr/>

  <add-contact-to-list-a-weber></add-contact-to-list-a-weber>

  <hr>
  <add-tag-to-subscriber-a-weber></add-tag-to-subscriber-a-weber>
</div>

</template>

<script>


import AddContactToListAWeber from "@/components/AWeber/AddContactToListAWeber";
import AWeberLogin from "@/components/AWeber/AWeberLogin";
import AddTagToSubscriberAWeber from "@/components/AWeber/AddTagToSubscriberAWeber";
export default {
  name: 'AWeberIndex',
  components: {
    AddTagToSubscriberAWeber,
    AWeberLogin,
    AddContactToListAWeber

  },
  data: function () {

    return {
      schema: {},
      formData: {},
      userId: "MY_USER_ID",
      integrationIdentifier: 'aweber',
    };
  },
  mounted() {

  },
  methods: {

  }
}
</script>

